//Variables 
$transition-opacity: opacity .3s ease-in-out;
$transition-all: all .3s ease-in-out;

$color-elementary-school: #465560;
$color-middle-school: #0b7b93;
$color-high-school: #d61e42;
$color-charter-school: #ef9720;
$color-mental-health: #930b7b;
$color-k-8-school: #3d58a7;

$light: #F5F5F5;

$color-headings: darken($color-high-school, 10%);
$color-subheadings: #387a93;
$color-purple: #604070;


$color-blue: #3237ff;